<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="micro_system_hardware_ros2_control" params="name prefix">

  <xacro:macro name="motor" params="name">
    <joint name="${name}">

      <!-- Velocity Command -->
      <command_interface name="velocity">
        <param name="min">-1000</param>
        <param name="max">1000</param>
      </command_interface>
      
      <!-- Velocity State -->
      <state_interface name="velocity">
        <param name="initial_value">0.0</param>
      </state_interface>

      <!-- Position State -->
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      
      <!-- Effort State -->
      <state_interface name="effort">
        <param name="initial_value">0.0</param>
      </state_interface>
      
    </joint> 
  </xacro:macro>

    <!-- If NOT in sim mode, use actual HW Interface -->
    <xacro:unless value="$(arg sim_mode)">

      <ros2_control name="${name}" type="system">
        <hardware>
          <plugin>microros_hardware_interface/MicroSystemHardware</plugin>

          <!-- Prefix -->
          <param name="prefix">/esp32</param>

          <!-- Joint Names -->
          <param name="left_joint">left_wheel_joint</param>
          <param name="right_joint">right_wheel_joint</param>

          <!-- Topic Names -->
          <param name="left_topic">left_motor</param>
          <param name="right_topic">right_motor</param>

          <!-- Conversions -->
          <param name="conversion">0.000294731376096</param>
          <!-- 1 / (2pi * 45 * 12) -->

          <!-- Inverts -->
          <param name="left_inverted">true</param>
          <param name="right_inverted">false</param>

        </hardware>

        <xacro:motor name="left_wheel_joint"/>
        <xacro:motor name="right_wheel_joint"/>

      </ros2_control>

    </xacro:unless>

    <!-- If in sim mode, use Gazebo Sim HW Interface -->
    <xacro:if value="$(arg sim_mode)">

      <!-- Setup ros2_control -->
      <ros2_control name="IgnitionSystem" type="system">
        <hardware>
          <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>

        <xacro:motor name="front_left_wheel_joint"/>
        <xacro:motor name="front_right_wheel_joint"/>
        
        <xacro:motor name="back_left_wheel_joint"/>
        <xacro:motor name="back_right_wheel_joint"/>
        
      </ros2_control>
      
      <!-- Setup Gazebo -->
      <gazebo>
        <plugin name="ign_ros2_control::IgnitionROS2ControlPlugin" filename="ign_ros2_control-system">
          <!-- Controller Settings -->
          <parameters>$(find microros_hardware_interface)/bringup/config/controllers.yaml</parameters>

          <!-- Enables Sim Time = True -->
          <parameters>$(find microros_hardware_interface)/bringup/config/gazebo_controller.yaml</parameters>
        </plugin>
      </gazebo>

    </xacro:if>


  </xacro:macro>

</robot>
