<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    
    <xacro:macro name="imu" params="name namespace parent x:=0 y:=0 z:=0 roll:=0 pitch:=0 yaw:=0 visualize:=true">

        <xacro:property name="PI" value="3.1415926535897931"/>

        <link name="${name}_link">
            <xacro:if value="${visualize}">
                <visual>
                    <geometry>
                        
                            <box size="0.010 0.03 0.03"/>  
                    
                    </geometry>
                    <material name="black"/>
                </visual>
            </xacro:if>
        </link>

        <joint name="${name}_joint" type="fixed">
            <parent link="${parent}"/>
            <child link="${name}_link"/>
            <origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}"/>
        </joint>

        <gazebo reference="${name}_link">
            <material>Gazebo/Black</material>

            <sensor name="${name}" type="imu">
                <!-- offset from joint -->
                <pose> 0 0 0 0 0 0 </pose>

                <!-- idk what this does in new gz -->
                <visualize>true</visualize>

                <!-- just keep it on -->
                <always_on>1</always_on>

                <!-- hz -->
                <update_rate>30</update_rate>
                
                <topic>${namespace}/data</topic>
                <gz_frame_id>${name}_link</gz_frame_id>

                <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu"/>

            </sensor>
        </gazebo>
    </xacro:macro>
</robot>